* {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.searchbar {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  height: 2rem;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px;
  padding-left: 10px;
}

#location,
#location:active,
#location:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 95%;
  left: 90%;
  background: transparent;
  color: #333333;
  border: none;
}

.clock {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 20%;
  left: 50%;
  color: #333333;
  font-size: 60px;
  letter-spacing: 7px;
  font-family: "Inconsolata", monospace;
}

.links-wrapper {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  top: 50%;
  left: 51%;
  font-size: 10px;
  padding-bottom: 10px;
  background-color: rgba(51, 51, 58, 0.1);
  border-radius: 20px;
}

p {
  font-size: 30px;
}

.links-wrapper a:hover,
.links-wrapper a:visited,
.links-wrapper a:link,
.links-wrapper a:active {
  color: #363333;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

.weather {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.numbers {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.colorChangers {
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 98%;
  left: 5%;
}

button {
  height: 22px;
  width: 22px;
}

.yellow {
  border-bottom: none;
  border-right: none;
  background-color: #f8f8a1;
  border-color: #a1a100;
  border-radius: 3px;
}

.pink {
  border-bottom: none;
  border-right: none;
  background-color: #f9c7be;
  border-color: #f59a8a;
  border-radius: 3px;
}

.green {
  border-bottom: none;
  border-right: none;
  background-color: #94bca4;
  border-color: #68b989;
  border-radius: 3px;
}

.blue {
  border-bottom: none;
  border-right: none;
  background-color: #52809c;
  border-color: #376a8a;
  border-radius: 3px;
}

.gray {
  border-bottom: none;
  border-right: none;
  background-color: #6c6c74;
  border-color: #484852;
  border-radius: 3px;
}
